# Projeto de Técnicas de Programação I
#### EQUIPE
* Camila de Jesus
* Janaina Oliveira
* Pedro Pilon
* Ricardo Jeferson da Silva Francisco
* Tamires Torres

#### CONTEXTUALIZAÇÃO

Você trabalha em uma consultoria de dados que foi contratada para realizar a distribuição de materiais didáticos nas escolas da cidade do Rio de Janeiro. Sua missão é realizar tratamentos nos dados de acordo com as normas de padrão definidas pelo cliente e encontrar qual a melhor rota que um caminhão deve realizar para entregar os materiais didáticos de forma a otimizar o seu percurso. 

Para esse projeto você recebeu três arquivos:
- escolas.csv: contém os dados das escolas
- subprefeituras.csv: contém dados de quais bairros pertem a cada subprefeitura
- material_didatico.csv: contém a quantidade de material didático que cada escola deve receber

Como produto final, você deve entregar:
- um arquivo csv no as linhas já estarão ordenas de acordo com a rota a ser seguida. Além disso, os dados devem estar no padrão especificado abaixo e contendo as seguintes colunas: id da escola, nome da escola, tipo da escola (EM, CIEP ou colégio), logradouro da entrega, número, bairro, subprefeitura, latitude, longitude e quantidade de material didático que deve ser entregue. O logradouro da escola deve estar em uma coluna diferente do número;
- um arquivo csv com a quantidade total de material escolar por subprefeitura para que sejam contabilizados os custos por subprefeitura

#### ATIVIDADES
Como padrão dos dados, considere:
- nome das colunas em snake_case
- strings não devem conter acentos
- todas as strings devem estar em maiúsculo
- padronização do nome dos logradouros sem abreviação (Ex: R. deve estar como Rua)
- latitude e longitude devem conter apenas 5 casas decimais
- os ids da escola devem todos ser strings com 3 caracteres (Ex: '024')

#### DESAFIO:

Entregar um plot com a representação da melhor rota que você encontrou, por exemplo:
<img src="rota.png"  width="70%" height="40%">

Obs: O otimizador não é a parte mais importante do projeto. Foque no tratamento dos dados e se preciso, pode reduzir a quantidade de escolas para rodar o otimizador.

1. Importando as bibliotecas

In [1]:
import math
import pandas as pd
import numpy as np

2. Importando os CSV

In [4]:
escolas = pd.read_csv("escolas.csv")
material_didatico = pd.read_csv("material_didatico.csv")
subprefeituras = pd.read_csv("subprefeituras.csv")

3. Tratamento dos dados: nome das colunas em snake_case

* ESCOLAS

In [12]:
# Visualizando os dados iniciais
escolas.head(2)

,id,Escolas_Postos,BAIRRO,ENDEREÇO,lat,lon
0,178,CENTRO INTEGRADO DE EDUCAÇÃO PÚBLICA HENFIL,CAJU,Rua Carlos Seidl S/Nº,"-22,880888","-43,225326"
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,Rua Ébano 187,"-22,889574","-43,236202"

In [18]:
# Convertendo os nomes das colunas para minúsculas
escolas.columns = escolas.columns.str.lower()

escolas.head(2)

,id,escolas_postos,bairro,endereço,lat,lon
0,178,CENTRO INTEGRADO DE EDUCAÇÃO PÚBLICA HENFIL,CAJU,Rua Carlos Seidl S/Nº,"-22,880888","-43,225326"
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,Rua Ébano 187,"-22,889574","-43,236202"

In [34]:
# Trocando 'ç' por 'c' nos nomes das colunas
snake_case_coluna = {coluna: coluna.replace('ç', 'c') for coluna in escolas.columns}
escolas.rename(columns=snake_case_coluna, inplace=True)

escolas.head(2)

,id,escolas_postos,bairro,endereco,lat,lon
0,178,CENTRO INTEGRADO DE EDUCAÇÃO PÚBLICA HENFIL,CAJU,Rua Carlos Seidl S/Nº,"-22,880888","-43,225326"
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,Rua Ébano 187,"-22,889574","-43,236202"

* MATERIAL DIDÁTICO

In [22]:
# Visualizando os dados iniciais
material_didatico.head(2)

    id Quantidade
0  178         20
1  634        121

In [24]:
# Convertendo os nomes das colunas para minúsculas
material_didatico.columns = material_didatico.columns.str.lower()

material_didatico.head(2)

    id quantidade
0  178         20
1  634        121

* SUBPREFEITURAS

In [25]:
# Visualizando os dados iniciais
subprefeituras.head(2)

           nome subprefeitura
0  Santo Cristo        Centro
1        Gamboa        Centro

4. Tratamento dos dados: strings não devem conter acentos

5. Tratamento dos dados: todas as strings devem estar em maiúsculo

6. Tratamento dos dados: padronização do nome dos logradouros sem abreviação (Ex: R. deve estar como Rua)

7. Tratamento dos dados: latitude e longitude devem conter apenas 5 casas decimais

8. Tratamento dos dados: os ids da escola devem todos ser strings com 3 caracteres (Ex: '024')